
@media (max-width: 599px) {

}

@media (min-width: 600px) {
    body{
        background-color: bisque;
    }
    body>section{
        width: 50%;
        margin: auto;
        border: 1px solid black;
        padding: 30px;
        background-color: white;
        border-radius: 10px;
    }
}

/* classes */

.bordeau{
    color: #7a284e;
}

.middle{
    width: 50%;
    float: left;
}
.row:not(:last-child){
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 8px 0;

}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "YoungSerif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.text-oufti {
    font-family: "Outfit", sans-serif;
}

.text-young {
    font-family: "YoungSerif", serif;
}

img{
    width: 100%;
    border-radius: 10px;
}
/*
    Section preparation
*/
.preparation {
    background-color: #fff5fa;
    padding: 20px;
    border-radius: 10px;
}

.preparation h2 {
    margin-bottom: 10px;

}

 ul {
    padding-left: 20px;
    margin: 0;
}

ul> li {
    margin-bottom: 8px;
    line-height: 1.5;
    padding: 10px;
}
.preparation li::marker {
    color: #7a284e;
}
/*
    Section ingredients*/

.ingredients ul li
{
    padding: 5px;
}

/*section instructions*/
.instructions{
    margin-bottom: 40px;
}
.instructions ol
{
    padding-left: 20px;
}

.instructions ol>li{
    padding-left: 10px;
    padding-bottom: 10px;
}
.instructions ol>li::marker{
    font-weight: bold;
    color: #7a284e;
}
/*
    ingredient
*/

.ingredients{
    margin-bottom: 20
    px;
}

.ingredients ul li{
    padding: 0;
    margin: 10px;
}

/*
    nutrition
*/
.nutrition{
    margin:20px;
}

hr{
    color: lightgray;
}